// Shareberry :: Icons

// Dependencies
@import "images";


// Variables
$HSSB-icon-size:                                          18px !default;


// Base
.hs-shareberry-icon {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: $HSSB-icon-size;
  vertical-align: middle;
  width: $HSSB-icon-size;
}

// Icons
.hs-shareberry-icon--facebook {
  background-image: url($HSSB-image-icon-facebook);
}

.hs-shareberry-icon--twitter {
  background-image: url($HSSB-image-icon-twitter);
}
