// Shareberry :: Icons

// Dependencies
@import "images";

// Base
.hs-shareberry-icon {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 20px;
}

// Icons
.hs-shareberry-icon--facebook {
  background-image: url($HSSB-image-icon-facebook);
}

.hs-shareberry-icon--twitter {
  background-image: url($HSSB-image-icon-twitter);
}
